# Source DB (the “correct” schema)
SRC_HOST=REPLACE
SRC_PORT=REPLACE
SRC_USER=REPLACE
SRC_PASSWORD=REPLACE
SRC_DB=REPLACE

# Target DB (the one you want to apply changes to)
TGT_HOST=REPLACE
TGT_PORT=3306
TGT_USER=REPLACE
TGT_PASSWORD=REPLACE
TGT_DB=REPLACE

